body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-size: 48px; */
    /* letter-spacing: 1px !important;  */
    
    @font-face{font-family: 'Nanum Gothic', sans-serif;} 
    @font-face{font-family: 'Noto Sans KR', sans-serif;} 
    @font-face{font-family: 'Muli', sans-serif; } 
}
.btn-disabled{
    color:gray
}
.footer-icon{
    margin: 10px 6px;
    width: 14%;
}
.footer-icon.active{
    margin: 10px 6px;
    width: 20%;
}
h3{
    margin: 10px auto;
    text-align: center;
}
.container {
    position: relative;
    margin: 0 auto;
    padding: 12px;
    padding-top:48px;
    /* height: 640px; */
    width: 100%;
    max-width: 640px;
    border: 2px solid #e6e6e6;
}
.detail-info {
    padding: 12px;
    /* padding-top: 19px;  */
    border-radius: 4px;
    border: 1.4px solid #d4d2d2;
    position: relative;
}

.bolder{
    font-weight: 900;
}
.memo-list{
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    margin-top: 10px;
    padding: 7px;
    /* border: 1px solid black; */
}

.container .header {max-height:75px; display: flex; max-width:300px;  margin:0 auto; padding-bottom:7px;}
.container .header span{ width:33%; }
.container .header-bottom-line{ height:2.7px; background:#d4d2d2;}
.detail-time-info{ display:flex;}
.detail-time-info span{ width:50%;}
.detail-time-info .time{text-align: left; color:#000000}
.detail-time-info .date{margin-left:auto; text-align: right; color:#696c74;}

.detail-user-info {
    margin-top:12px;
}
.detail-info .name-container {
    /* line-height: 20px; */
    padding-top: 7px;
}
.detail-info .name{
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    /* font-size: 14px;  */
    color:#696c74
}
.detail-info .title{
    margin: 0;
    font-size: 17px !important;
    font-weight: bold;
    font-size: 14px; 
    color:#696c74;
    text-align: left !important;
}
.detail-info .resv{
    display: inline-block;
    padding: 4px 3px;
    line-height: 7px;
    font-size: 11px;
    background: #4CAF50;
    color: #FFF;
    border-radius: 5px;
}
.property-list{
    margin-top:12px;
}
.detail-info .properties { display:flex; margin-top:6px;}
.detail-info .properties .prop-title { color:#696c74;  font-weight: bold; width:60px;}
.detail-info .properties .prop-value { margin-left:12px;}
.detail-info .profile-img {position: absolute; right:12px; top: 60px;}
.detail-info .profile-img img {width:45px; height:45px;}

.detail-info .menu-btn {display:flex; 
    justify-content: space-between;
    font-size:10px; padding-top: 35px;}
.detail-info .menu-btn span {}

.dialog { 

}
.dialog-1{ margin: 0 auto; font-size:0.9rem; max-width: 320px; border-radius: 4px; border: 1.4px solid #d4d2d2;}
.dialog-1 .title {width: fit-content; padding: 5px 10px;margin:20px auto; display: block; text-align: center; border-bottom:2px solid #000; font-weight:400; color:#000;}
.dialog-1 .longDesc {margin-bottom: 20px; padding:0px 20px; text-align:center; color:#000;}
.dialog-1 .dialog-detail2 {margin-bottom: 20px; padding:0px 20px; text-align:center; color:#000;}
.dialog-1 p {width:65%;  margin:0px auto; text-align:center;}
.dialog-1 .desc{ display: flex;}
.dialog-1 .desc div {width:50%; text-align: center;}
.dialog-1 .dialog-detail {padding:10px;}
.dialog-1 .btn-group {display:flex; }
.dialog-1 .btn-group .btn {width: 50%; text-align: center; color:#000; }
.dialog-1 .confirm-message {margin-bottom: 20px; padding:0px 20px; text-align:center; color:#000;}

.dialog-2{ margin: 0 auto; font-size:0.9rem; max-width: 320px; border: 1px solid black; border: 1.4px solid #d4d2d2;}
.dialog-2 .title {text-align: center; font-size:30px; margin:23px auto;}

.dialog-2 .desc {margin-bottom: 20px; font-weight:400; text-align:center; color:#000;}
.dialog-2 hr { width: 95%;}
.dialog-2 .btn {width: 100%; text-align: center; color:#000;}

.bottomMenu {position: absolute; bottom: 0px; width:100%;}
.bottomMenu .title {background: gray; color:white; text-align: center;}
.bottomMenu p {text-align:center}

.memo-list{
    border: 1.4px solid #d4d2d2;
    font-size:14px;
    padding: 12px;
}

.menu-title {
    font-size: 14px;
    font-weight: 600;
    border-left: 2px solid;
    padding-left: 12px;
    letter-spacing: 1.82px;    
}
.user-detail .right-col {display: flex; width:50%;}
.button-cust-container {
    width:33%;margin: auto 4px; width:33%;
}

.user-info-time {
    background:#f2f3f5; padding:7px 20px; font-weight: bold;
}

.checkbox-confirom{
    padding-left:20px;
    font-size:14px;
}
.checkbox-confirom checkbox-input{
    display: inline-block !important; margin-bottom: 10px;
}
@media screen and (max-width: 380px) {
    .detail-info .title {font-size:13px;}
    .detail-info .grid-assets {font-size:10px;}
    .asset-row div {width:30px;}
    .menu-title { font-size:10px;}
    .detail-user-info .name { font-size:13px;}
    .properties{ font-size:10px; }
    .detail-time-info .time { font-size: 13px; }
    .detail-time-info .date { font-size: 10px; }
    .detail-info .resv{ font-size:8px;}
    .memo-list { font-size:13px;}
    .memo-list .memo-description {font-size:10px;}
    .user-list { font-size:10px;}
    .user-list .user-img{ width:25px;height:25px;vertical-align: middle;}
    .user-detail {height:35px !important;}
    .user-detail .user-name{ font-size:8px !important; line-height:25px !important; width: 262px;}
    .circle-container {margin:auto 0px; margin-left:auto;}
    .user-list .circle-value{  font-size:10px; line-height: 10px; width:15px; height:15px;}
    .button-cust-container {width:33%;margin: auto 4px; width:33%;}
    .user-list .button-cust{ font-size:9px !important;  margin:3px;}


    .asset-row .prop-title { width:20px; }
    #dateStr {font-size:10px;}
    #endDateStr {font-size:10px;}

    .time-input {padding:50px 70px !important;}
    .resv-confirm{ font-size:12px;}
    .profile-list .image{width: 25px!important; height:25px !important;}
    .profile-list .name {font-size: 9px !important; line-height: 25px !important;}
    .profile-list .phone {font-size: 9px !important; line-height: 25px !important;}
    .sort-menu{ font-size:10px;}
    .profile-name{font-size:13px !important;}
    .profile-phone{font-size:13px !important;}
    .birth{font-size:10px !important;}

    .class-detail .class-title{font-size:13px;}
    .class-prop-title{font-size:10px;}
    .class-prop-value{font-size:10px;}
    .class-resv-btn{font-size:12px;}
    .availTicket{font-size:10px; min-width:70px !important;}
    .expiredTicket{font-size:10px; min-width:70px !important;}
    .user-info-time{ font-size:11px;}
    .calendar-date .date-btn{font-size:10px; width: 160px !important;}
    .time-hour-list{font-size: 12px;}
    .time-hour-list .title{ margin-left: 15px !important; }
    .time-hour-list li{font-size: 12px !important; margin-left: 15px !important; margin-bottom: 7px !important;} 
    .resv-class-detail .resv-time .hour{font-size: 13px !important;}
    .resv-class-detail .resv-time .date{font-size: 13px !important;}
    .resv-class-detail .class-title{font-size: 13px !important;}
    .resv-class-detail .user{font-size: 13px !important;}
    .policy{font-size:10px;}
    .checkbox-confirom{
        padding-left:20px;
        font-size:10px;
    }
    .resv-button{
        font-size:11px;
    }
    .time-am-input{ padding:5px 10px; width:50px; text-align: center; font-size: 0.7rem !important;}
    .time-pm-input{ padding:5px 10px; width:50px; text-align: center;font-size: 0.7rem !important;}
    .time-hour-input{
        width:50px!important;
        border: 1px solid #fff !important;
        text-align: center !important;
        padding: 5px !important;
        font-size: 1.3rem !important;
    }
    .time-min-input{
        width:50px!important;
        padding: 5px !important;
        border: 1px solid #fff !important;
        font-size: 1.3rem !important;
        text-align: center !important;
    }
}

@media screen and (min-width: 420px) {
    .menu-title {
        font-size:13px; 
    }
    .detail-user-info .name {
        font-size:17px;
    }
}
.shadow-btn {
    -webkit-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.58);
-moz-box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.58);
box-shadow: 1px 1px 7px -1px rgba(0,0,0,0.58);
}
.select-time{
    vertical-align: middle;
    padding-top: 10%;
    height:76px;
    width: fit-content;
    margin: 10px auto;
    text-align: center;
}
.time-label{
    margin: 0px auto;
    display: block;
}
.select-time-value{
    font-size:1rem;
    padding: 10px;
    margin: 0px auto;
    display: block;
}
.memo-title {
    display:flex;
}
.memo-title div {
    width: 50%;
}
.font-dart-gray {
    color: #696c74;
}
.font-light-gray {
    color: #a5a5a5;
}
.memo-description {
    font-weight:bold;
    padding-top:7px;
    line-height: 16px;
}
.memo-description p {
    line-height: 22px;
}
.red-font {
    color: #f22a5e;
}
.red {
    color: #f22a5e;
    border-color: #f22a5e;
}
.font-blue {
    color: #1b7cdd;
}
.blue {
    color: #1b7cdd;
    border-color: #1b7cdd;
}

.black{
    color: #000000;
    border-color: #000000;
}
.text-left {text-align:left;}
.text-right {text-align:right;}

.register-list{
    margin: 20px; padding: 7px;
    border: 1.4px solid #d4d2d2;
    font-size:10px;
}
.register-user-info{
    display:flex;

}
.register-user-info{

}
.register-row {display:flex;}

.profile-list{
    width:70%; 
    display:flex; border-bottom: 0.7px solid #a5a5a5; padding-bottom:10px; padding-top:10px;}
.profile-list .image { border-radius: 10px; border: 1.4px solid #d4d2d2; margin-right:4px;}
.profile-list .name { font-size:11px; line-height:45px; color:#000; padding-left:4px; padding-right:4px;}
.profile-list .phone { font-size:14px;  line-height:45px; color: #696c74; padding-left:4px; padding-right:4px;}


.card-body{}
  
.search-form { position: relative; }
  
.search-form .search-form-input {
height: auto;
width: 80%;
margin: 0 0 .5rem 0;
padding: .6rem 0 .4rem 0;
padding-left: 12px;
padding-right: 25px;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
outline: 0;
border: none;
border-bottom: 1px solid #000;
border-radius: 0;
box-sizing: content-box;
box-shadow: none;
background-color: transparent;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
outline: 0;
border: none;
border-bottom: 1px solid #000;
border-radius: 0;
box-sizing: content-box;
box-shadow: none;
background-color: transparent;

}

.search-button{
/* position: absolute; */
padding-bottom: 5px;
background: transparent;
outline: none;
border: none;
padding-left: 0;
right: 0;

}

.search-text {
    /* color: black; */
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
}

.active-white input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #1b7cdd;
    box-shadow: 0 1px 0 0 #1b7cdd;
    /* color: #1b7cdd; */
  }
  
.found-user {
    margin-top:3px;
    margin-bottom:40px;
}

.class-detail{
    position:relative;
    padding: 13px 13px;
    margin-bottom:3px;
    background:#f2f3f5;
    /* background: #d4d2d2; */
    color: #000;
}
.class-tab {
    margin-top:20px;
    display:flex;
    border-radius: 4px;
    border: 1.4px solid #d4d2d2;
}

.class-tab div{ min-width:120px; text-align: center; padding: 6px 12px;}
.class-tab div.active {border-top: 2px solid #000; color:#000;}
.class-tab hr {padding-top:3px;}
.class-resv-btn{position: absolute; bottom: 10px; right:17px; background: #fff; padding: 5px 15px; border-radius: 4px;}

.user-img{
    width:40px;
    height: 40px;
    border: 0.7px solid gray;
    border-radius: 5px;
}
.circle-value {
    /* margin-top:10px; */
    margin-left:2px;
    font-size:14px; 
    color:white;border-radius: 50%; text-align: center;
    padding:2px;
    width: 25px;
    /* font-weight: bold; */
    height: 25px; line-height: 20px;
}
.bg-gray{background:gray;}
.bg-red{background:#f22a5e;}
.bg-green{background: #4caf50;}
.bg-blue{background:#1b7cdd;}
.user-detail{height:45px;}
.user-detail .user-name{
    /* letter-spacing: 0.06em; */
    width:200px;
    padding-left:4px; font-size:12px; 
    line-height: 45px; font-weight: bold;
    word-break: break-all;
    text-overflow: ellipsis;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.time-hour-list {
    padding:20px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.time-hour-list > div > div{ font-weight: bold;margin-bottom:7px;
    margin-left:25px;}
.time-hour-list > div > ul > li{
    font-size:21px; padding-left:8px; 
    /* text-align:center; */
    margin-left:25px;
    border-left: 2px solid black; margin-bottom:12px;}
/*  */

.group .detail-info {
    border: 1.4px solid #d4d2d2;
}
.group .detail-info .title {
    font-weight: bold;
    font-size:16px; 
    text-align:center;
}
.group .time-info {
    display: flex;
    
}
.group .time-info .hour{
    font-size:1.2rem;
    font-weight: 500;
    
}
.group .time-info .date{
    margin-left:auto;
    font-weight:bold;
}

.grid-assets {
    width:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25px;
}
.asset-row {
    display: flex;
    padding: 12px 0px;
}

.asset-row .prop-title {
    width:40px;
}

.asset-row div:first-child{
    font-weight: bold;
    margin-right:10px;
}

.group .user-list {padding:20px 4px;}
.group .user-detail{
    
    width:100%;
    display:flex;
    /* grid-template-columns: 1fr 1.2fr 0.5fr 0.5fr 1fr 1fr 1fr ; */
    /* grid-template-columns: 45px 100px 34px 34px 12px 74px 74px 74px ;
    grid-template-rows: 45px; */
    border-bottom: 0.7px solid #d4d2d2;
}

.user-list .left-col{
    vertical-align: middle;
    white-space: nowrap;
    width:50%; display:flex;
    /* justify-content: center;  */
    padding: 5px 10px 0px 0px; border-right:0.4px solid #d4d2d2;
}
.user-list .user-list .button-cust{
    width:50%; display:flex; justify-content: center; padding: 7px 3px;;
}
.user-list .button-cust{
    border-radius: 4px;
    /* height: 40px; */
    width: 100%;
    padding: 7px 4px;
    font-size: 12px;
    background: #ededed;
    margin: 2px auto;
    display: block;
    
}

.bottom-menu {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size:14px;
    background:#9c9ca0;
    color:white;
}
.up, .down{margin: 0 5px; padding:3px 2px;}
.bottom-menu-desc {
    font-size: 14px;
    padding: 20px 40px; 
    color: #000;
}
.bottom-menu-desc p{margin-bottom:7px}
.botton-menu-input {
    padding: 0px 40px; 
}
.bottom-menu-detail{background:#f2f3f5; padding-bottom:13px;}
.botton-menu-input button {
    background: #000;
    color: #fff;
    padding: 4px 20px;
    font-size: 16px;
    border-radius: 7px;
}

.resv-class-container{
    padding: 20px 0px;
    background: #f2f3f5;
}
.resv-class-detail{
    margin-top:10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background:#fff;
    color:#000;
}
.policy{color:#000; padding:20px;}
.policy .title {font-weight: bold; margin-top:10px;}
.policy p {
    padding-right:10px;
    word-break: keep-all;
}
.resv-class-detail > div {margin-bottom:10px;}
.resv-class-detail .user {font-size:18px;}
.resv-time{display:flex;}
.resv-time .hour {font-size: 16px; font-weight:400;margin-right:10px;}
.resv-time .date {font-size: 16px; font-weight:400; margin-left: auto;}
.class-title{ font-size:20px; font-weight: bold; margin-bottom:12px;}
.resv-button{background:black; color:white; padding: 5px 20px; border-radius: 4px; margin:0 auto; display: block;}

/* 10.5 */
.input-desc{
    font-weight:bold;
    width: 100%;
    margin: 10 auto;
    display: block;
}

.calendar-date {
    margin: 0 auto;
    display: block;
}
.calendar-date .date-btn {
    margin: 0px auto;
    display: block;
    padding: 0px 20px;
}
.openTime, .closeTime{
    margin-right:7px; padding:4px 10px; border-radius: 4px; color:#fff
}

.time-select{
    border:1px solid gray;
}
.time-input{
    height:190px;
    padding: 25px 70px;
    border:1px solid gray;
}
.time-am-input{ padding:5px 10px; width:60px; text-align: center; font-size: 1rem;}
.time-pm-input{ padding:5px 10px; width:60px; text-align: center;font-size: 1rem;}
.time-hour-input{
    width:60px;
    border: 1px solid #fff !important;
    /* background:gray !important; */
    text-align: center !important;
    padding: 5px !important;
    /* color:white; */
    font-size: 2rem;
}
.time-min-input{
    width:60px;
    padding: 5px !important;
    border: 1px solid #fff !important;
    /* background:gray !important; */
    font-size: 2rem;
    text-align: center !important;
    /* color:white; */
}

.resv-confirm{
    padding: 20px 10px;
    color:black;
    background: #f2f3f5;
}
.resv-confirm p{
    text-align: center;
    margin-bottom:7px;
}
.calendar-container{
    height:300px; 
    width: 100%;
}

.time-am-input.active {
    font-weight: bold;
    color:black;
}
.time-pm-input.active {
    font-weight: bold;
    color:black;
}

.confirmBtn{
    margin:0px 7px;
    margin-top:10px;
    padding: 7px 20px;
    background:white;
    border-radius: 4px;

}

.profile-name{
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #696c74;
}
.profile-phone {
    font-size: 17px;
    line-height: 25px;
    color: #696c74;
}
.type-time{
    padding-top: 10%;
}
.tab-list {
    list-style-type: none;
}

.class-prop-title{
    font-weight:bold;
    width: 70px !important; 

}
.class-prop-row {
    display:flex;
    margin-bottom:4px;
}

.overflowEnable{overflow-y:scroll;     max-height: 80px;}

.clockActive, .clock {
    margin-right:4px; margin-left:auto; 
}
.clockActive, .clock, .calActive, .cal{ 
    height:20px; width:20px; 
}
.calActive, .cal{ margin-right:4px;}